html, body {
	margin: 0;
    font-size: 20px;
}

#frame {
    width: 400px;
    height: 514px;
}

#frame > div {
    width: 360px;
    padding: 20px;
}

#datetime {
    text-align: center;
    border-bottom: 1px solid black;
}

#datetime #time {
    font-size: 80px;
    margin: 40px 0;
}

#weather .weather-icon {
    width: 90px;
    height: 90px;
    float: left;
    margin: 0 70px;
}

#weather .temperature {
    font-size: 80px;
}

#weather .unit {
    vertical-align: top;
}

#weather .weather-desc {
    text-align: center;
}

.weather-icon.icon-01d { background-image: url('img/weather-icons/sunny-day.svg'); }
.weather-icon.icon-01n { background-image: url('img/weather-icons/night.svg'); }
.weather-icon.icon-02d { background-image: url('img/weather-icons/partialy-cloudy.svg'); }
.weather-icon.icon-03d { background-image: url('img/weather-icons/cloudy-day.svg'); }
.weather-icon.icon-02n, .weather-icon.icon-03n { background-image: url('img/weather-icons/dark-night.svg'); }
.weather-icon.icon-04d, .weather-icon.icon-04n { background-image: url('img/weather-icons/overcast-day.svg'); }
.weather-icon.icon-09d, .weather-icon.icon-09n { background-image: url('img/weather-icons/drizzle.svg'); }
.weather-icon.icon-10d, .weather-icon.icon-10n { background-image: url('img/weather-icons/rainy-day.svg'); }
.weather-icon.icon-11d, .weather-icon.icon-11n { background-image: url('img/weather-icons/lighting.svg'); }
.weather-icon.icon-13d, .weather-icon.icon-13n { background-image: url('img/weather-icons/snow-cloud.svg'); }
.weather-icon.icon-50d, .weather-icon.icon-50n { background-image: url('img/weather-icons/mist.svg'); }