/* generic */
html, body {
	margin: 0;
    font-size: 20px;
    background: gray;
}

div {
    -webkit-box-sizing: border-box;
}

#frame {
    width: 400px;
    height: 514px;
    background: white;
}

#frame > div {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
}

#frame > div.half-width {
    width: 50%;
    height: 150px;
    float: left;
}

.segment-head {
    text-align: center;
    margin: 10px 0;
}

/* date */
#datetime {
    text-align: center;
    border-right: 1px solid black;
}

#datetime #time {
    font-size: 60px;
    margin: 10px 0;
}

/* weather */
#weather .weather-icon {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 65px;
}

#weather .temperature {
    font-size: 80px;
}

#weather .unit {
    vertical-align: top;
}

.weather-icon.icon-01d { background-image: url('img/weather-icons/sunny-day.svg'); }
.weather-icon.icon-01n { background-image: url('img/weather-icons/night.svg'); }
.weather-icon.icon-02d { background-image: url('img/weather-icons/partialy-cloudy.svg'); }
.weather-icon.icon-03d { background-image: url('img/weather-icons/cloudy-day.svg'); }
.weather-icon.icon-02n, .weather-icon.icon-03n { background-image: url('img/weather-icons/dark-night.svg'); }
.weather-icon.icon-04d, .weather-icon.icon-04n { background-image: url('img/weather-icons/overcast-day.svg'); }
.weather-icon.icon-09d, .weather-icon.icon-09n { background-image: url('img/weather-icons/drizzle.svg'); }
.weather-icon.icon-10d, .weather-icon.icon-10n { background-image: url('img/weather-icons/rainy-day.svg'); }
.weather-icon.icon-11d, .weather-icon.icon-11n { background-image: url('img/weather-icons/lighting.svg'); }
.weather-icon.icon-13d, .weather-icon.icon-13n { background-image: url('img/weather-icons/snow-cloud.svg'); }
.weather-icon.icon-50d, .weather-icon.icon-50n { background-image: url('img/weather-icons/mist.svg'); }

/* traffic */
div#traffic {
    border-bottom: 0;
}

#traffic table {
    width: 100%;
}

#traffic td.mins {
    font-size: 40px;
}

#traffic td.jam-warner div {
    width: 20px;
    height: 20px;
    background: black;
    margin: 5px;
    float: right;
}

#traffic td.jam-warner div:first-child {
    -webkit-animation: blink 2s step-start 0s infinite;
}
#traffic td.jam-warner div:last-child {
    -webkit-animation: blink 2s step-start 0s infinite reverse;
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

/* washing */
#washing {
    text-align: center;
}

#washing a {
    color: black;
    text-decoration: none;
    display: inline-block;
    border: 1px solid grey;
    -webkit-border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
}

#washing a.washing-ready {
    -webkit-animation: flash 2s step-start 0s infinite;
}

@-webkit-keyframes flash {
    50% {
        background: black;
        color: white;
    }
}